<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>REGISTER</title>
</head>
<body>
<div class="loginBox">
  <form method="post" id="loginForm" action="#" th:action="@{/register}">
    <table>
      <thead>
      <tr>
        <th>Login Form</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>username:</td>
        <td><label><input name="username" type="text" required/></label></td>
      </tr>
      <tr>
        <td>password:</td>
        <td><label><input name="password" type="password" required/></label></td>
      </tr>
      <tr>
        <td><button style="box-shadow: 0 0 4px #868282;" type="submit">REGISTER</button></td>
        <td><button style="box-shadow: 0 0 4px #868282;" type="button">CANCEL</button></td>
      </tr>
      </tbody>
    </table>
  </form>
</div>
</body>
</html>
